In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib as plt
import plotly
from functions import *
import warnings
from pandas import Series

# Desactivar todos los warnings
warnings.filterwarnings('ignore')

In [2]:
etfs_2018_2024 = pd.read_csv('etfs_temps_full.csv')

In [4]:
etfs_2018_2024

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,Adj Close
0,FGDL,2022-06-30 00:00:00-04:00,24.236000,24.236000,24.190001,24.190001,700.0,0.0,0.0,0.0,NaN
1,FGDL,2022-07-01 00:00:00-04:00,24.030001,24.240000,24.020000,24.174999,1036900.0,0.0,0.0,0.0,NaN
2,FGDL,2022-07-05 00:00:00-04:00,23.980000,23.980000,23.639999,23.648001,600.0,0.0,0.0,0.0,NaN
3,FGDL,2022-07-06 00:00:00-04:00,23.459999,23.459999,23.229000,23.301001,4000.0,0.0,0.0,0.0,NaN
4,FGDL,2022-07-07 00:00:00-04:00,23.420000,23.429001,23.299999,23.299999,91300.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3571481,AUGT,2024-07-03 00:00:00-04:00,29.221001,29.270000,29.180000,29.267000,2300.0,0.0,0.0,0.0,NaN
3571482,AUGT,2024-07-05 00:00:00-04:00,29.240000,29.297001,29.240000,29.297001,500.0,0.0,0.0,0.0,NaN
3571483,AUGT,2024-07-08 00:00:00-04:00,29.299999,29.340000,29.299999,29.332001,600.0,0.0,0.0,0.0,NaN
3571484,AUGT,2024-07-09 00:00:00-04:00,29.368000,29.368000,29.299999,29.327000,4300.0,0.0,0.0,0.0,NaN
3571485,AUGT,2024-07-10 00:00:00-04:00,29.350000,29.358999,29.350000,29.358999,200.0,0.0,0.0,0.0,NaN

In [5]:
etfs_2018_2024 = etfs_2018_2024.rename(columns={'Unnamed: 0': 'Ticker'})

In [6]:
for name in etfs_2018_2024.columns:
    print(name)
    print(etfs_2018_2024[name].isnull().sum())

Ticker
0
Date
0
Open
0
High
0
Low
0
Close
0
Volume
0
Dividends
0
Stock Splits
0
Capital Gains
9320
Adj Close
3571486

#### Eliminamos columnas innecesarias

In [7]:
etfs_2018_2024 = etfs_2018_2024.drop(['Capital Gains', 'Adj Close'], axis=1)

In [8]:
etfs_2018_2024[['Dividends','Stock Splits']].describe()

          Dividends  Stock Splits
count  3.571486e+06  3.571486e+06
mean   2.320857e-03  1.437124e-04
std    1.571117e-01  5.362102e-02
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00
max    2.823750e+02  9.100000e+01

#### Probamos la funcion .diff() para comprobar que en cada ETF comienzamel mismo calculo

##### AplicaciÃ³n de la funciÃ³n con la fÃ³rmula

In [264]:
#group = etfs_2018_2024.groupby('Ticker').Close.diff()

In [265]:
#etfs_2018_2024['Prueba_RSI'] = group

In [266]:
# Para cada etfs hace el diff, por eso es importante el groupby

#etfs_2018_2024[etfs_2018_2024['Ticker'] == 'SSO']

In [267]:
#etfs_2018_2024 = etfs_2018_2024.drop('Prueba_RSI', axis=1)

In [268]:
'''etf_FGDL = etfs_2018_2024[etfs_2018_2024['Ticker'] == 'FGDL']

# La funciÃ³n diff ya nos hace la diferencia entre la vela i y la i-1

etf_FGDL['RSI'] = etf_FGDL['Close'].diff()

#Ponemos una window de 14 dÃ­as, que es el valor por default que se suele coger para calcular el RSI

etf_FGDL['RSI'] = calculate_rsi(etf_FGDL,[5,14,30])
etf_FGDL.tail(10)'''

"etf_FGDL = etfs_2018_2024[etfs_2018_2024['Ticker'] == 'FGDL']\n\n# La funciÃ³n diff ya nos hace la diferencia entre la vela i y la i-1\n\netf_FGDL['RSI'] = etf_FGDL['Close'].diff()\n\n#Ponemos una window de 14 dÃ­as, que es el valor por default que se suele coger para calcular el RSI\n\netf_FGDL['RSI'] = calculate_rsi(etf_FGDL,[5,14,30])\netf_FGDL.tail(10)"

##### InterpretaciÃ³n a priori del RSI del ETF FGDL

Echando un vistazo rÃ¡pido a las estadÃ­sticas del RSI de este ETF, podemos ver que:

- La media es de un 50% de RSI, sin embargo, esto no no dice mucho, ya que, por lo general, las compras y ventas oscilan tanto que en todos los ETFs sucederÃ¡ que la media sea 50.

- Lo mismo parece que sucede con la desviaciÃ³n estandar

- De todas formas, las series temporales no estan pensadas para ser analizadas de esta forma. Los minimos y mÃ¡ximos sÃ­ que podrÃ­an ser interesantes para hacer comparaciones con ETFs

In [269]:
'''etf_FGDL['RSI'].describe()'''

"etf_FGDL['RSI'].describe()"

In [270]:
etf_FGDL['Open_7']= etf_FGDL.groupby("Ticker").Open.shift(7)
etf_FGDL.head(30)

'etf_FGDL[\'Open_7\']= etf_FGDL.groupby("Ticker").Open.shift(7)\netf_FGDL.head(30)'

#### Calculamos RSI (Indicador de fuerza relativa) con diferentes perÃ­odos (9,14 y 25) para todo nuestro Dataset

In [9]:
data_copy = etfs_2018_2024.copy()

In [10]:
data_copy

,Ticker,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,FGDL,2022-06-30 00:00:00-04:00,24.236000,24.236000,24.190001,24.190001,700.0,0.0,0.0
1,FGDL,2022-07-01 00:00:00-04:00,24.030001,24.240000,24.020000,24.174999,1036900.0,0.0,0.0
2,FGDL,2022-07-05 00:00:00-04:00,23.980000,23.980000,23.639999,23.648001,600.0,0.0,0.0
3,FGDL,2022-07-06 00:00:00-04:00,23.459999,23.459999,23.229000,23.301001,4000.0,0.0,0.0
4,FGDL,2022-07-07 00:00:00-04:00,23.420000,23.429001,23.299999,23.299999,91300.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
3571481,AUGT,2024-07-03 00:00:00-04:00,29.221001,29.270000,29.180000,29.267000,2300.0,0.0,0.0
3571482,AUGT,2024-07-05 00:00:00-04:00,29.240000,29.297001,29.240000,29.297001,500.0,0.0,0.0
3571483,AUGT,2024-07-08 00:00:00-04:00,29.299999,29.340000,29.299999,29.332001,600.0,0.0,0.0
3571484,AUGT,2024-07-09 00:00:00-04:00,29.368000,29.368000,29.299999,29.327000,4300.0,0.0,0.0
3571485,AUGT,2024-07-10 00:00:00-04:00,29.350000,29.358999,29.350000,29.358999,200.0,0.0,0.0

In [447]:
data_copy.Ticker.unique()

array(['FGDL', 'SSO', 'BNE', ..., 'VRP', 'BUFQ', 'AUGT'], dtype=object)

#### Probamos nuestro codigo con dos tickers para ver si reinicializa los calculos con cada Ticker (checked)

In [460]:
'''tickers = ['FGDL','SSO']
list_window = [9,14,25]

df_temp = []

for ticker in tickers:

    df_ticker = data_copy[data_copy['Ticker'] == ticker]
    

    for num in list_window:

        delta = df_ticker.Close.diff(num)

        gain = (delta.where(delta > 0, 0)).rolling(window=num).mean()
        
        loss = (-delta.where(delta < 0, 0)).rolling(window=num).mean()
        
        rs = gain / loss
        rsi = 100 - (100 / (1 + rs))
        
        df_ticker[f'RSI_{num}'] = rsi

        print(ticker,df_ticker)
        df_temp.append(df_ticker)

print('Este es el df temporal:',df_temp)'''

'''df_temp
etfs_2018_2024_rsi = pd.concat(df_temp,axis=0)
etfs_2018_2024_rsi'''

FGDL     Ticker                       Date       Open       High        Low  \
0     FGDL  2022-06-30 00:00:00-04:00  24.236000  24.236000  24.190001
1     FGDL  2022-07-01 00:00:00-04:00  24.030001  24.240000  24.020000
2     FGDL  2022-07-05 00:00:00-04:00  23.980000  23.980000  23.639999
3     FGDL  2022-07-06 00:00:00-04:00  23.459999  23.459999  23.229000
4     FGDL  2022-07-07 00:00:00-04:00  23.420000  23.429001  23.299999
..     ...                        ...        ...        ...        ...
504   FGDL  2024-07-03 00:00:00-04:00  31.420000  31.579000  31.384001
505   FGDL  2024-07-05 00:00:00-04:00  31.730000  31.959999  31.730000
506   FGDL  2024-07-08 00:00:00-04:00  31.709999  31.709999  31.497000
507   FGDL  2024-07-09 00:00:00-04:00  31.700001  31.700001  31.419001
508   FGDL  2024-07-10 00:00:00-04:00  31.790001  31.790001  31.669001

         Close     Volume  Dividends  Stock Splits      RSI_9
0    24.190001      700.0        0.0           0.0        NaN
1    24.174999  1036900.0        0.0           0.0        NaN
2    23.648001      600.0        0.0           0.0        NaN
3    23.301001     4000.0        0.0           0.0        NaN
4    23.299999    91300.0        0.0           0.0        NaN
..         ...        ...        ...           ...        ...
504  31.448999     7600.0        0.0           0.0  74.927379
505  31.910000     8900.0        0.0           0.0  80.319721
506  31.497000      900.0        0.0           0.0  80.920831
507  31.549999     8100.0        0.0           0.0  84.440492
508  31.669001     1300.0        0.0           0.0  95.084806

[509 rows x 10 columns]
FGDL     Ticker                       Date       Open       High        Low  \
0     FGDL  2022-06-30 00:00:00-04:00  24.236000  24.236000  24.190001
1     FGDL  2022-07-01 00:00:00-04:00  24.030001  24.240000  24.020000
2     FGDL  2022-07-05 00:00:00-04:00  23.980000  23.980000  23.639999
3     FGDL  2022-07-06 00:00:00-04:00  23.459999  23.459999  23.229000
4     FGDL  2022-07-07 00:00:00-04:00  23.420000  23.429001  23.299999
..     ...                        ...        ...        ...        ...
504   FGDL  2024-07-03 00:00:00-04:00  31.420000  31.579000  31.384001
505   FGDL  2024-07-05 00:00:00-04:00  31.730000  31.959999  31.730000
506   FGDL  2024-07-08 00:00:00-04:00  31.709999  31.709999  31.497000
507   FGDL  2024-07-09 00:00:00-04:00  31.700001  31.700001  31.419001
508   FGDL  2024-07-10 00:00:00-04:00  31.790001  31.790001  31.669001

         Close     Volume  Dividends  Stock Splits      RSI_9     RSI_14
0    24.190001      700.0        0.0           0.0        NaN        NaN
1    24.174999  1036900.0        0.0           0.0        NaN        NaN
2    23.648001      600.0        0.0           0.0        NaN        NaN
3    23.301001     4000.0        0.0           0.0        NaN        NaN
4    23.299999    91300.0        0.0           0.0        NaN        NaN
..         ...        ...        ...           ...        ...        ...
504  31.448999     7600.0        0.0           0.0  74.927379  39.756583
505  31.910000     8900.0        0.0           0.0  80.319721  56.532756
506  31.497000      900.0        0.0           0.0  80.920831  59.112525
507  31.549999     8100.0        0.0           0.0  84.440492  69.061806
508  31.669001     1300.0        0.0           0.0  95.084806  72.781490

[509 rows x 11 columns]
FGDL     Ticker                       Date       Open       High        Low  \
0     FGDL  2022-06-30 00:00:00-04:00  24.236000  24.236000  24.190001
1     FGDL  2022-07-01 00:00:00-04:00  24.030001  24.240000  24.020000
2     FGDL  2022-07-05 00:00:00-04:00  23.980000  23.980000  23.639999
3     FGDL  2022-07-06 00:00:00-04:00  23.459999  23.459999  23.229000
4     FGDL  2022-07-07 00:00:00-04:00  23.420000  23.429001  23.299999
..     ...                        ...        ...        ...        ...
504   FGDL  2024-07-03 00:00:00-04:00  31.420000  31.579000  31.384001
505   FGDL  2024-07-05 00:00:00-04:00  31.730000  31.959999  31.730000
506   FGDL  2024-07-08 00:00:00-04:00  31.709999  31.709999  31.497000
507   FGDL  2024-07-09 00:00:00-04:00  31.700001  31.700001  31.419001
508   FGDL  2024-07-10 00:00:00-04:00  31.790001  31.790001  31.669001

         Close     Volume  Dividends  Stock Splits      RSI_9     RSI_14  \
0    24.190001      700.0        0.0           0.0        NaN        NaN
1    24.174999  1036900.0        0.0           0.0        NaN        NaN
2    23.648001      600.0        0.0           0.0        NaN        NaN
3    23.301001     4000.0        0.0           0.0        NaN        NaN
4    23.299999    91300.0        0.0           0.0        NaN        NaN
..         ...        ...        ...           ...        ...        ...
504  31.448999     7600.0        0.0           0.0  74.927379  39.756583
505  31.910000     8900.0        0.0           0.0  80.319721  56.532756
506  31.497000      900.0        0.0           0.0  80.920831  59.112525
507  31.549999     8100.0        0.0           0.0  84.440492  69.061806
508  31.669001     1300.0        0.0           0.0  95.084806  72.781490

        RSI_25
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
..         ...
504  22.001897
505  26.104061
506  26.124357
507  29.500048
508  31.266658

[509 rows x 12 columns]
SSO      Ticker                       Date       Open       High        Low  \
509     SSO  2018-01-02 00:00:00-05:00  26.768359  26.950605  26.676020
510     SSO  2018-01-03 00:00:00-05:00  26.989479  27.312663  26.979759
511     SSO  2018-01-04 00:00:00-05:00  27.424447  27.618844  27.402577
512     SSO  2018-01-05 00:00:00-05:00  27.691743  27.895860  27.572676
513     SSO  2018-01-08 00:00:00-05:00  27.839971  28.002777  27.774363
...     ...                        ...        ...        ...        ...
2144    SSO  2024-07-03 00:00:00-04:00  83.940002  84.889999  83.919998
2145    SSO  2024-07-05 00:00:00-04:00  84.830002  85.839996  84.639999
2146    SSO  2024-07-08 00:00:00-04:00  85.940002  86.199997  85.559998
2147    SSO  2024-07-09 00:00:00-04:00  86.160004  86.449997  85.959999
2148    SSO  2024-07-10 00:00:00-04:00  86.419998  87.839996  86.330002

          Close     Volume  Dividends  Stock Splits      RSI_9
509   26.950605  7689600.0        0.0           0.0        NaN
510   27.273783  4497200.0        0.0           0.0        NaN
511   27.516785  5550000.0        0.0           0.0        NaN
512   27.861841  5478800.0        0.0           0.0        NaN
513   27.966328  3857600.0        0.0           0.0        NaN
...         ...        ...        ...           ...        ...
2144  84.750000  1335700.0        0.0           0.0  98.716095
2145  85.739998  1508000.0        0.0           0.0  98.686406
2146  85.889999  1698500.0        0.0           0.0  98.792076
2147  86.040001  1518800.0        0.0           0.0  98.822809
2148  87.730003  1660100.0        0.0           0.0  99.011317

[1640 rows x 10 columns]
SSO      Ticker                       Date       Open       High        Low  \
509     SSO  2018-01-02 00:00:00-05:00  26.768359  26.950605  26.676020
510     SSO  2018-01-03 00:00:00-05:00  26.989479  27.312663  26.979759
511     SSO  2018-01-04 00:00:00-05:00  27.424447  27.618844  27.402577
512     SSO  2018-01-05 00:00:00-05:00  27.691743  27.895860  27.572676
513     SSO  2018-01-08 00:00:00-05:00  27.839971  28.002777  27.774363
...     ...                        ...        ...        ...        ...
2144    SSO  2024-07-03 00:00:00-04:00  83.940002  84.889999  83.919998
2145    SSO  2024-07-05 00:00:00-04:00  84.830002  85.839996  84.639999
2146    SSO  2024-07-08 00:00:00-04:00  85.940002  86.199997  85.559998
2147    SSO  2024-07-09 00:00:00-04:00  86.160004  86.449997  85.959999
2148    SSO  2024-07-10 00:00:00-04:00  86.419998  87.839996  86.330002

          Close     Volume  Dividends  Stock Splits      RSI_9  RSI_14
509   26.950605  7689600.0        0.0           0.0        NaN     NaN
510   27.273783  4497200.0        0.0           0.0        NaN     NaN
511   27.516785  5550000.0        0.0           0.0        NaN     NaN
512   27.861841  5478800.0        0.0           0.0        NaN     NaN
513   27.966328  3857600.0        0.0           0.0        NaN     NaN
...         ...        ...        ...           ...        ...     ...
2144  84.750000  1335700.0        0.0           0.0  98.716095   100.0
2145  85.739998  1508000.0        0.0           0.0  98.686406   100.0
2146  85.889999  1698500.0        0.0           0.0  98.792076   100.0
2147  86.040001  1518800.0        0.0           0.0  98.822809   100.0
2148  87.730003  1660100.0        0.0           0.0  99.011317   100.0

[1640 rows x 11 columns]
SSO      Ticker                       Date       Open       High        Low  \
509     SSO  2018-01-02 00:00:00-05:00  26.768359  26.950605  26.676020
510     SSO  2018-01-03 00:00:00-05:00  26.989479  27.312663  26.979759
511     SSO  2018-01-04 00:00:00-05:00  27.424447  27.618844  27.402577
512     SSO  2018-01-05 00:00:00-05:00  27.691743  27.895860  27.572676
513     SSO  2018-01-08 00:00:00-05:00  27.839971  28.002777  27.774363
...     ...                        ...        ...        ...        ...
2144    SSO  2024-07-03 00:00:00-04:00  83.940002  84.889999  83.919998
2145    SSO  2024-07-05 00:00:00-04:00  84.830002  85.839996  84.639999
2146    SSO  2024-07-08 00:00:00-04:00  85.940002  86.199997  85.559998
2147    SSO  2024-07-09 00:00:00-04:00  86.160004  86.449997  85.959999
2148    SSO  2024-07-10 00:00:00-04:00  86.419998  87.839996  86.330002

          Close     Volume  Dividends  Stock Splits      RSI_9  RSI_14  RSI_25
509   26.950605  7689600.0        0.0           0.0        NaN     NaN     NaN
510   27.273783  4497200.0        0.0           0.0        NaN     NaN     NaN
511   27.516785  5550000.0        0.0           0.0        NaN     NaN     NaN
512   27.861841  5478800.0        0.0           0.0        NaN     NaN     NaN
513   27.966328  3857600.0        0.0           0.0        NaN     NaN     NaN
...         ...        ...        ...           ...        ...     ...     ...
2144  84.750000  1335700.0        0.0           0.0  98.716095   100.0   100.0
2145  85.739998  1508000.0        0.0           0.0  98.686406   100.0   100.0
2146  85.889999  1698500.0        0.0           0.0  98.792076   100.0   100.0
2147  86.040001  1518800.0        0.0           0.0  98.822809   100.0   100.0
2148  87.730003  1660100.0        0.0           0.0  99.011317   100.0   100.0

[1640 rows x 12 columns]
Este es el df temporal: [    Ticker                       Date       Open       High        Low  \
0     FGDL  2022-06-30 00:00:00-04:00  24.236000  24.236000  24.190001
1     FGDL  2022-07-01 00:00:00-04:00  24.030001  24.240000  24.020000
2     FGDL  2022-07-05 00:00:00-04:00  23.980000  23.980000  23.639999
3     FGDL  2022-07-06 00:00:00-04:00  23.459999  23.459999  23.229000
4     FGDL  2022-07-07 00:00:00-04:00  23.420000  23.429001  23.299999
..     ...                        ...        ...        ...        ...
504   FGDL  2024-07-03 00:00:00-04:00  31.420000  31.579000  31.384001
505   FGDL  2024-07-05 00:00:00-04:00  31.730000  31.959999  31.730000
506   FGDL  2024-07-08 00:00:00-04:00  31.709999  31.709999  31.497000
507   FGDL  2024-07-09 00:00:00-04:00  31.700001  31.700001  31.419001
508   FGDL  2024-07-10 00:00:00-04:00  31.790001  31.790001  31.669001

         Close     Volume  Dividends  Stock Splits      RSI_9     RSI_14  \
0    24.190001      700.0        0.0           0.0        NaN        NaN
1    24.174999  1036900.0        0.0           0.0        NaN        NaN
2    23.648001      600.0        0.0           0.0        NaN        NaN
3    23.301001     4000.0        0.0           0.0        NaN        NaN
4    23.299999    91300.0        0.0           0.0        NaN        NaN
..         ...        ...        ...           ...        ...        ...
504  31.448999     7600.0        0.0           0.0  74.927379  39.756583
505  31.910000     8900.0        0.0           0.0  80.319721  56.532756
506  31.497000      900.0        0.0           0.0  80.920831  59.112525
507  31.549999     8100.0        0.0           0.0  84.440492  69.061806
508  31.669001     1300.0        0.0           0.0  95.084806  72.781490

        RSI_25
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
..         ...
504  22.001897
505  26.104061
506  26.124357
507  29.500048
508  31.266658

[509 rows x 12 columns],     Ticker                       Date       Open       High        Low  \
0     FGDL  2022-06-30 00:00:00-04:00  24.236000  24.236000  24.190001
1     FGDL  2022-07-01 00:00:00-04:00  24.030001  24.240000  24.020000
2     FGDL  2022-07-05 00:00:00-04:00  23.980000  23.980000  23.639999
3     FGDL  2022-07-06 00:00:00-04:00  23.459999  23.459999  23.229000
4     FGDL  2022-07-07 00:00:00-04:00  23.420000  23.429001  23.299999
..     ...                        ...        ...        ...        ...
504   FGDL  2024-07-03 00:00:00-04:00  31.420000  31.579000  31.384001
505   FGDL  2024-07-05 00:00:00-04:00  31.730000  31.959999  31.730000
506   FGDL  2024-07-08 00:00:00-04:00  31.709999  31.709999  31.497000
507   FGDL  2024-07-09 00:00:00-04:00  31.700001  31.700001  31.419001
508   FGDL  2024-07-10 00:00:00-04:00  31.790001  31.790001  31.669001

         Close     Volume  Dividends  Stock Splits      RSI_9     RSI_14  \
0    24.190001      700.0        0.0           0.0        NaN        NaN
1    24.174999  1036900.0        0.0           0.0        NaN        NaN
2    23.648001      600.0        0.0           0.0        NaN        NaN
3    23.301001     4000.0        0.0           0.0        NaN        NaN
4    23.299999    91300.0        0.0           0.0        NaN        NaN
..         ...        ...        ...           ...        ...        ...
504  31.448999     7600.0        0.0           0.0  74.927379  39.756583
505  31.910000     8900.0        0.0           0.0  80.319721  56.532756
506  31.497000      900.0        0.0           0.0  80.920831  59.112525
507  31.549999     8100.0        0.0           0.0  84.440492  69.061806
508  31.669001     1300.0        0.0           0.0  95.084806  72.781490

        RSI_25
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
..         ...
504  22.001897
505  26.104061
506  26.124357
507  29.500048
508  31.266658

[509 rows x 12 columns],     Ticker                       Date       Open       High        Low  \
0     FGDL  2022-06-30 00:00:00-04:00  24.236000  24.236000  24.190001
1     FGDL  2022-07-01 00:00:00-04:00  24.030001  24.240000  24.020000
2     FGDL  2022-07-05 00:00:00-04:00  23.980000  23.980000  23.639999
3     FGDL  2022-07-06 00:00:00-04:00  23.459999  23.459999  23.229000
4     FGDL  2022-07-07 00:00:00-04:00  23.420000  23.429001  23.299999
..     ...                        ...        ...        ...        ...
504   FGDL  2024-07-03 00:00:00-04:00  31.420000  31.579000  31.384001
505   FGDL  2024-07-05 00:00:00-04:00  31.730000  31.959999  31.730000
506   FGDL  2024-07-08 00:00:00-04:00  31.709999  31.709999  31.497000
507   FGDL  2024-07-09 00:00:00-04:00  31.700001  31.700001  31.419001
508   FGDL  2024-07-10 00:00:00-04:00  31.790001  31.790001  31.669001

         Close     Volume  Dividends  Stock Splits      RSI_9     RSI_14  \
0    24.190001      700.0        0.0           0.0        NaN        NaN
1    24.174999  1036900.0        0.0           0.0        NaN        NaN
2    23.648001      600.0        0.0           0.0        NaN        NaN
3    23.301001     4000.0        0.0           0.0        NaN        NaN
4    23.299999    91300.0        0.0           0.0        NaN        NaN
..         ...        ...        ...           ...        ...        ...
504  31.448999     7600.0        0.0           0.0  74.927379  39.756583
505  31.910000     8900.0        0.0           0.0  80.319721  56.532756
506  31.497000      900.0        0.0           0.0  80.920831  59.112525
507  31.549999     8100.0        0.0           0.0  84.440492  69.061806
508  31.669001     1300.0        0.0           0.0  95.084806  72.781490

        RSI_25
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
..         ...
504  22.001897
505  26.104061
506  26.124357
507  29.500048
508  31.266658

[509 rows x 12 columns],      Ticker                       Date       Open       High        Low  \
509     SSO  2018-01-02 00:00:00-05:00  26.768359  26.950605  26.676020
510     SSO  2018-01-03 00:00:00-05:00  26.989479  27.312663  26.979759
511     SSO  2018-01-04 00:00:00-05:00  27.424447  27.618844  27.402577
512     SSO  2018-01-05 00:00:00-05:00  27.691743  27.895860  27.572676
513     SSO  2018-01-08 00:00:00-05:00  27.839971  28.002777  27.774363
...     ...                        ...        ...        ...        ...
2144    SSO  2024-07-03 00:00:00-04:00  83.940002  84.889999  83.919998
2145    SSO  2024-07-05 00:00:00-04:00  84.830002  85.839996  84.639999
2146    SSO  2024-07-08 00:00:00-04:00  85.940002  86.199997  85.559998
2147    SSO  2024-07-09 00:00:00-04:00  86.160004  86.449997  85.959999
2148    SSO  2024-07-10 00:00:00-04:00  86.419998  87.839996  86.330002

          Close     Volume  Dividends  Stock Splits      RSI_9  RSI_14  RSI_25
509   26.950605  7689600.0        0.0           0.0        NaN     NaN     NaN
510   27.273783  4497200.0        0.0           0.0        NaN     NaN     NaN
511   27.516785  5550000.0        0.0           0.0        NaN     NaN     NaN
512   27.861841  5478800.0        0.0           0.0        NaN     NaN     NaN
513   27.966328  3857600.0        0.0           0.0        NaN     NaN     NaN
...         ...        ...        ...           ...        ...     ...     ...
2144  84.750000  1335700.0        0.0           0.0  98.716095   100.0   100.0
2145  85.739998  1508000.0        0.0           0.0  98.686406   100.0   100.0
2146  85.889999  1698500.0        0.0           0.0  98.792076   100.0   100.0
2147  86.040001  1518800.0        0.0           0.0  98.822809   100.0   100.0
2148  87.730003  1660100.0        0.0           0.0  99.011317   100.0   100.0

[1640 rows x 12 columns],      Ticker                       Date       Open       High        Low  \
509     SSO  2018-01-02 00:00:00-05:00  26.768359  26.950605  26.676020
510     SSO  2018-01-03 00:00:00-05:00  26.989479  27.312663  26.979759
511     SSO  2018-01-04 00:00:00-05:00  27.424447  27.618844  27.402577
512     SSO  2018-01-05 00:00:00-05:00  27.691743  27.895860  27.572676
513     SSO  2018-01-08 00:00:00-05:00  27.839971  28.002777  27.774363
...     ...                        ...        ...        ...        ...
2144    SSO  2024-07-03 00:00:00-04:00  83.940002  84.889999  83.919998
2145    SSO  2024-07-05 00:00:00-04:00  84.830002  85.839996  84.639999
2146    SSO  2024-07-08 00:00:00-04:00  85.940002  86.199997  85.559998
2147    SSO  2024-07-09 00:00:00-04:00  86.160004  86.449997  85.959999
2148    SSO  2024-07-10 00:00:00-04:00  86.419998  87.839996  86.330002

          Close     Volume  Dividends  Stock Splits      RSI_9  RSI_14  RSI_25
509   26.950605  7689600.0        0.0           0.0        NaN     NaN     NaN
510   27.273783  4497200.0        0.0           0.0        NaN     NaN     NaN
511   27.516785  5550000.0        0.0           0.0        NaN     NaN     NaN
512   27.861841  5478800.0        0.0           0.0        NaN     NaN     NaN
513   27.966328  3857600.0        0.0           0.0        NaN     NaN     NaN
...         ...        ...        ...           ...        ...     ...     ...
2144  84.750000  1335700.0        0.0           0.0  98.716095   100.0   100.0
2145  85.739998  1508000.0        0.0           0.0  98.686406   100.0   100.0
2146  85.889999  1698500.0        0.0           0.0  98.792076   100.0   100.0

C:\Users\irene\AppData\Local\Temp\ipykernel_6420\1762452323.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker[f'RSI_{num}'] = rsi
C:\Users\irene\AppData\Local\Temp\ipykernel_6420\1762452323.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker[f'RSI_{num}'] = rsi
C:\Users\irene\AppData\Local\Temp\ipykernel_6420\1762452323.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker[f'RSI_{num}'] = rsi
C:\Users\irene\AppData\Local\Temp\ipykernel_6420\1762452323.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker[f'RSI_{num}'] = rsi
C:\Users\irene\AppData\Local\Temp\ipykernel_6420\1762452323.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker[f'RSI_{num}'] = rsi
C:\Users\irene\AppData\Local\Temp\ipykernel_6420\1762452323.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker[f'RSI_{num}'] = rsi

##### Probamos ya nuestro codigo en todo el dataset

In [482]:
def calculate_rsi(data, tickers, list_window):

    df_temp = []

    for ticker in tickers:

        df_ticker = data_copy[data_copy['Ticker'] == ticker]
        

        for num in list_window:

            delta = df_ticker.Close.diff(num)

            gain = (delta.where(delta > 0, 0)).rolling(window=num).mean()
            
            loss = (-delta.where(delta < 0, 0)).rolling(window=num).mean()
            
            rs = gain / loss
            rsi = 100 - (100 / (1 + rs))
            
            df_ticker[f'RSI_{num}'] = rsi

            #print(ticker,df_ticker)
        df_temp.append(df_ticker) 

    #print('Este es el df temporal:',df_temp)
    return df_temp

##### Hacemos una lista de dataframes temporales que luego concatenaremos con el dataset original

In [473]:
data = data_copy
list_window = [9,14,25]
tickers = list(data_copy.Ticker.unique())

etfs_2018_2024_rsi = calculate_rsi(data,tickers,list_window)

In [478]:
etfs_2018_2024_rsi = pd.DataFrame(etfs_2018_2024_rsi)
etfs_2018_2024_rsi.drop_duplicates(inplace=True) #el append estaba indentado y cada ticker se ha aÃ±adido 4 veces (for ticker, y for 3 numeros)

In [486]:
etfs_2018_2024_rsi

,Ticker,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI_9,RSI_14,RSI_25
0,FGDL,2022-06-30 00:00:00-04:00,24.236000,24.236000,24.190001,24.190001,700.0,0.0,0.0,NaN,NaN,NaN
1,FGDL,2022-07-01 00:00:00-04:00,24.030001,24.240000,24.020000,24.174999,1036900.0,0.0,0.0,NaN,NaN,NaN
2,FGDL,2022-07-05 00:00:00-04:00,23.980000,23.980000,23.639999,23.648001,600.0,0.0,0.0,NaN,NaN,NaN
3,FGDL,2022-07-06 00:00:00-04:00,23.459999,23.459999,23.229000,23.301001,4000.0,0.0,0.0,NaN,NaN,NaN
4,FGDL,2022-07-07 00:00:00-04:00,23.420000,23.429001,23.299999,23.299999,91300.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3571481,AUGT,2024-07-03 00:00:00-04:00,29.221001,29.270000,29.180000,29.267000,2300.0,0.0,0.0,100.0,100.0,100.0
3571482,AUGT,2024-07-05 00:00:00-04:00,29.240000,29.297001,29.240000,29.297001,500.0,0.0,0.0,100.0,100.0,100.0
3571483,AUGT,2024-07-08 00:00:00-04:00,29.299999,29.340000,29.299999,29.332001,600.0,0.0,0.0,100.0,100.0,100.0
3571484,AUGT,2024-07-09 00:00:00-04:00,29.368000,29.368000,29.299999,29.327000,4300.0,0.0,0.0,100.0,100.0,100.0
3571485,AUGT,2024-07-10 00:00:00-04:00,29.350000,29.358999,29.350000,29.358999,200.0,0.0,0.0,100.0,100.0,100.0

In [55]:
df = pd.read_csv('etfs_2018_2024_rsi.csv')

In [61]:
df[df.Ticker == 'QQQ'].head(30)

,Unnamed: 0,Ticker,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI_9,RSI_14,RSI_25
2966393,2966393,QQQ,2018-01-02 00:00:00-05:00,152.737325,154.659226,152.356848,154.620209,32573300.0,0.0,0.0,NaN,NaN,NaN
2966394,2966394,QQQ,2018-01-03 00:00:00-05:00,154.766514,156.259155,154.737248,156.122574,29383600.0,0.0,0.0,NaN,NaN,NaN
2966395,2966395,QQQ,2018-01-04 00:00:00-05:00,156.659179,156.864043,156.171387,156.395767,24776100.0,0.0,0.0,NaN,NaN,NaN
2966396,2966396,QQQ,2018-01-05 00:00:00-05:00,157.137209,158.073761,156.844531,157.966446,26992300.0,0.0,0.0,NaN,NaN,NaN
2966397,2966397,QQQ,2018-01-08 00:00:00-05:00,157.966463,158.659134,157.907930,158.581085,23159100.0,0.0,0.0,NaN,NaN,NaN
2966398,2966398,QQQ,2018-01-09 00:00:00-05:00,158.893249,159.059096,158.112794,158.590820,24782400.0,0.0,0.0,NaN,NaN,NaN
2966399,2966399,QQQ,2018-01-10 00:00:00-05:00,157.888383,158.249359,157.185962,158.220078,34004000.0,0.0,0.0,NaN,NaN,NaN
2966400,2966400,QQQ,2018-01-11 00:00:00-05:00,158.493273,159.312759,158.249377,159.302994,20473500.0,0.0,0.0,NaN,NaN,NaN
2966401,2966401,QQQ,2018-01-12 00:00:00-05:00,159.166401,160.639541,158.961537,160.473694,37762700.0,0.0,0.0,NaN,NaN,NaN
2966402,2966402,QQQ,2018-01-16 00:00:00-05:00,161.537090,162.356577,159.537141,160.015182,41231800.0,0.0,0.0,100.000000,NaN,NaN
2966403,2966403,QQQ,2018-01-17 00:00:00-05:00,160.776080,161.985793,159.995611,161.741898,33849900.0,0.0,0.0,100.000000,NaN,NaN
2966404,2966404,QQQ,2018-01-18 00:00:00-05:00,161.488313,162.141952,161.107836,161.771240,26432200.0,0.0,0.0,100.000000,NaN,NaN
2966405,2966405,QQQ,2018-01-19 00:00:00-05:00,162.249237,162.541915,161.498034,162.278503,38937600.0,0.0,0.0,100.000000,NaN,NaN
2966406,2966406,QQQ,2018-01-22 00:00:00-05:00,162.220006,164.015076,162.034643,164.015076,26081400.0,0.0,0.0,100.000000,NaN,NaN
2966407,2966407,QQQ,2018-01-23 00:00:00-05:00,164.522372,165.517471,164.444323,165.371124,37989700.0,0.0,0.0,100.000000,100.000000,NaN
2966408,2966408,QQQ,2018-01-24 00:00:00-05:00,165.722332,166.083308,163.351672,164.297989,54287400.0,0.0,0.0,100.000000,100.000000,NaN
2966409,2966409,QQQ,2018-01-25 00:00:00-05:00,165.429669,165.488202,163.712633,164.239456,28925000.0,0.0,0.0,100.000000,100.000000,NaN
2966410,2966410,QQQ,2018-01-26 00:00:00-05:00,165.156468,166.775940,164.834539,166.756424,32038200.0,0.0,0.0,100.000000,100.000000,NaN
2966411,2966411,QQQ,2018-01-29 00:00:00-05:00,166.405257,166.736952,165.595521,165.946732,37277800.0,0.0,0.0,100.000000,100.000000,NaN
2966412,2966412,QQQ,2018-01-30 00:00:00-05:00,164.434586,165.283339,163.722414,164.580917,44987700.0,0.0,0.0,100.000000,100.000000,NaN
2966413,2966413,QQQ,2018-01-31 00:00:00-05:00,165.507705,165.839415,164.229693,165.263809,42449200.0,0.0,0.0,100.000000,100.000000,NaN
2966414,2966414,QQQ,2018-02-01 00:00:00-05:00,163.995559,165.585750,163.332155,163.858978,38037900.0,0.0,0.0,100.000000,100.000000,NaN
2966415,2966415,QQQ,2018-02-02 00:00:00-05:00,163.215081,163.605308,160.454178,160.590759,68478100.0,0.0,0.0,91.717769,100.000000,NaN
2966416,2966416,QQQ,2018-02-05 00:00:00-05:00,159.088365,161.702921,154.142151,154.259216,105372200.0,0.0,0.0,68.176012,91.329873,NaN
2966417,2966417,QQQ,2018-02-06 00:00:00-05:00,152.005603,158.542007,151.312947,158.346893,118537900.0,0.0,0.0,55.022473,86.886626,NaN
2966418,2966418,QQQ,2018-02-07 00:00:00-05:00,157.839611,159.556647,156.288437,156.298203,91028300.0,0.0,0.0,41.450680,80.567789,100.000000
2966419,2966419,QQQ,2018-02-08 00:00:00-05:00,156.698145,156.873758,149.703217,149.703217,94184800.0,0.0,0.0,23.335054,69.032526,20.722749
2966420,2966420,QQQ,2018-02-09 00:00:00-05:00,151.820268,153.400723,146.464325,152.288559,113836600.0,0.0,0.0,11.799889,60.901504,13.748909
2966421,2966421,QQQ,2018-02-12 00:00:00-05:00,153.849460,156.044522,152.639746,154.990891,63050600.0,0.0,0.0,6.873761,50.290138,11.053894
2966422,2966422,QQQ,2018-02-13 00:00:00-05:00,154.103124,156.103057,153.868978,155.790878,31785600.0,0.0,0.0,1.980957,41.907622,9.337583

In [580]:
etfs_2018_2024_rsi.to_csv('etfs_2018_2024_rsi.csv')

#### CÃ¡lculo del EWMA (Exponentially Weighted Moving Average -- >Media Movil Exponencial Ponderada)

1. Este indicador se utiliza para calcular e interpretar la Volatilidad HistÃ³rica. 

2. El EWMA es como calcular la desviaciÃ³n estÃ¡ndar de los rendimientos del activo, pero aÃ±adiendo algunos factores que hacen que sea un indicador mÃ¡s ajustado y preciso para calcular esa volatilidad. Estos aÃ±adidos son:

    - PonderaciÃ³n exponencial: conla formula EWMA se ponderan a la alza los datos mÃ¡s recientes
    
    - En la desviaciÃ³n estandar, simplemente se toman los datos del dia anterior. Con EWMA podemos calcular esa volatilidad en periodos de 7, 50 y 200

3. El primer valor de cada ewma deberÃ­a ser el mismo que Close para cada ETF

In [34]:
data_copy = etfs_2018_2024.copy()
data_copy

,Ticker,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,FGDL,2022-06-30 00:00:00-04:00,24.236000,24.236000,24.190001,24.190001,700.0,0.0,0.0
1,FGDL,2022-07-01 00:00:00-04:00,24.030001,24.240000,24.020000,24.174999,1036900.0,0.0,0.0
2,FGDL,2022-07-05 00:00:00-04:00,23.980000,23.980000,23.639999,23.648001,600.0,0.0,0.0
3,FGDL,2022-07-06 00:00:00-04:00,23.459999,23.459999,23.229000,23.301001,4000.0,0.0,0.0
4,FGDL,2022-07-07 00:00:00-04:00,23.420000,23.429001,23.299999,23.299999,91300.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
3571481,AUGT,2024-07-03 00:00:00-04:00,29.221001,29.270000,29.180000,29.267000,2300.0,0.0,0.0
3571482,AUGT,2024-07-05 00:00:00-04:00,29.240000,29.297001,29.240000,29.297001,500.0,0.0,0.0
3571483,AUGT,2024-07-08 00:00:00-04:00,29.299999,29.340000,29.299999,29.332001,600.0,0.0,0.0
3571484,AUGT,2024-07-09 00:00:00-04:00,29.368000,29.368000,29.299999,29.327000,4300.0,0.0,0.0
3571485,AUGT,2024-07-10 00:00:00-04:00,29.350000,29.358999,29.350000,29.358999,200.0,0.0,0.0

##### Codigo para 2 ETFs

In [35]:
'''df_temp = []
list_span = [7,50,200]
tickers = ['FGDL','SSO']

df_temp = []

for ticker in tickers:
        df_ticker = data_copy[data_copy.Ticker == ticker] 
        #print(df_ticker)
        for num in list_span:
                #print(df_ticker['Close'].ewm(span=7, adjust=False).mean())
                df_ticker[f'ewma_{num}'] = df_ticker['Close'].ewm(span=num, adjust=False).mean()

        print('ESTE ES DF_TICKER',df_ticker)

df_temp.append(df_ticker)'''

"df_temp = []\nlist_span = [7,50,200]\ntickers = ['FGDL','SSO']\n\ndf_temp = []\n\nfor ticker in tickers:\n        df_ticker = data_copy[data_copy.Ticker == ticker] \n        #print(df_ticker)\n        for num in list_span:\n                #print(df_ticker['Close'].ewm(span=7, adjust=False).mean())\n                df_ticker[f'ewma_{num}'] = df_ticker['Close'].ewm(span=num, adjust=False).mean()\n\n        print('ESTE ES DF_TICKER',df_ticker)\n\ndf_temp.append(df_ticker)"

##### CÃ³digo funcion para dataset completo

In [36]:
def calculate_ewma(data,tickers,list_span):
        df_temp = []

        for ticker in tickers:
                df_ticker = data[data.Ticker == ticker] 
                #print(df_ticker)
                for num in list_span:
                        #print(df_ticker['Close'].ewm(span=7, adjust=False).mean())
                        df_ticker[f'ewma_{num}'] = df_ticker['Close'].ewm(span=num, adjust=False).mean()

                #print('ESTE ES DF_TICKER',df_ticker)

                df_temp.append(df_ticker)

        return df_temp

In [37]:
data = data_copy
list_span = [7,50,200]
tickers = data_copy.Ticker.unique()

etfs_2018_2024_ewmas = calculate_ewma(data,tickers,list_span)

In [38]:
etfs_2018_2024_ewmas = pd.concat(etfs_2018_2024_ewmas)

#####
Los calculos son correctos, ya que cada ewma de cada ETF comienza con el valor de cierre

In [39]:
etfs_2018_2024_ewmas[etfs_2018_2024_ewmas.Ticker == 'AUGT']

,Ticker,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,ewma_7,ewma_50,ewma_200
3571249,AUGT,2023-08-01 00:00:00-04:00,25.020000,25.030001,24.889999,24.990000,1428600.0,0.0,0.0,24.990000,24.990000,24.990000
3571250,AUGT,2023-08-02 00:00:00-04:00,24.959999,24.959999,24.676001,24.725000,202900.0,0.0,0.0,24.923750,24.979608,24.987363
3571251,AUGT,2023-08-03 00:00:00-04:00,24.670000,24.750000,24.600000,24.695000,50700.0,0.0,0.0,24.866562,24.968447,24.984454
3571252,AUGT,2023-08-04 00:00:00-04:00,24.820000,24.860001,24.566999,24.610001,115700.0,0.0,0.0,24.802422,24.954390,24.980728
3571253,AUGT,2023-08-07 00:00:00-04:00,24.670000,24.780001,24.655001,24.768000,75800.0,0.0,0.0,24.793816,24.947080,24.978611
...,...,...,...,...,...,...,...,...,...,...,...,...
3571481,AUGT,2024-07-03 00:00:00-04:00,29.221001,29.270000,29.180000,29.267000,2300.0,0.0,0.0,29.139780,28.487777,27.003004
3571482,AUGT,2024-07-05 00:00:00-04:00,29.240000,29.297001,29.240000,29.297001,500.0,0.0,0.0,29.179086,28.519512,27.025830
3571483,AUGT,2024-07-08 00:00:00-04:00,29.299999,29.340000,29.299999,29.332001,600.0,0.0,0.0,29.217314,28.551374,27.048777
3571484,AUGT,2024-07-09 00:00:00-04:00,29.368000,29.368000,29.299999,29.327000,4300.0,0.0,0.0,29.244736,28.581791,27.071446
3571485,AUGT,2024-07-10 00:00:00-04:00,29.350000,29.358999,29.350000,29.358999,200.0,0.0,0.0,29.273302,28.612269,27.094207

In [40]:
etfs_2018_2024_ewmas.to_csv('etfs_2018_2024_ewmas.csv')

#### Calculamos indicador MACD (revisar, no hace bien los calculos)

In [41]:
data_copy

,Ticker,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,FGDL,2022-06-30 00:00:00-04:00,24.236000,24.236000,24.190001,24.190001,700.0,0.0,0.0
1,FGDL,2022-07-01 00:00:00-04:00,24.030001,24.240000,24.020000,24.174999,1036900.0,0.0,0.0
2,FGDL,2022-07-05 00:00:00-04:00,23.980000,23.980000,23.639999,23.648001,600.0,0.0,0.0
3,FGDL,2022-07-06 00:00:00-04:00,23.459999,23.459999,23.229000,23.301001,4000.0,0.0,0.0
4,FGDL,2022-07-07 00:00:00-04:00,23.420000,23.429001,23.299999,23.299999,91300.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
3571481,AUGT,2024-07-03 00:00:00-04:00,29.221001,29.270000,29.180000,29.267000,2300.0,0.0,0.0
3571482,AUGT,2024-07-05 00:00:00-04:00,29.240000,29.297001,29.240000,29.297001,500.0,0.0,0.0
3571483,AUGT,2024-07-08 00:00:00-04:00,29.299999,29.340000,29.299999,29.332001,600.0,0.0,0.0
3571484,AUGT,2024-07-09 00:00:00-04:00,29.368000,29.368000,29.299999,29.327000,4300.0,0.0,0.0
3571485,AUGT,2024-07-10 00:00:00-04:00,29.350000,29.358999,29.350000,29.358999,200.0,0.0,0.0

In [71]:
from functions import calculate_ewma

def calculate_ewma(data,tickers,list_span):
        df_temp = []

        for ticker in tickers:
                df_ticker = data[data.Ticker == ticker] 
                #print(df_ticker)
                for num in list_span:
                        #print(df_ticker['Close'].ewm(span=7, adjust=False).mean())
                        df_ticker[f'ewma_{num}'] = df_ticker['Close'].ewm(span=num, adjust=False).mean()

                #print('ESTE ES DF_TICKER',df_ticker)

                df_temp.append(df_ticker)

        return df_temp

def calculate_macd(data,list_span):
    
    columns_to_drop = data.columns

    tickers = ['FGDL','SSO']
    emas_12_26 = calculate_ewma(data,tickers,list_span) #devuelve una lista con las columnas
    emas_12_26 = pd.concat(emas_12_26)
    emas_12_26 = emas_12_26.drop(columns_to_drop,axis=1)
    #print('mis emas:',emas_12_26['ewma_12'])
    
    macd = emas_12_26['ewma_12'] - emas_12_26['ewma_26']
    #print('MACD',macd)

    signal = macd.ewm(span=9, adjust=False).mean()
    #print('SIGNAL', signal)
    data['MACD'] = signal
    

    return data

In [72]:
list_span = [12,26]
data_copy3 = calculate_macd(data_copy,list_span)

In [76]:
data_copy3.drop(columns_to_drop,axis=1).isnull().sum()

MACD    3569337
dtype: int64

#### Juntamos los dataframes con los indicadores

In [77]:
columns_to_drop = data_copy.columns

In [78]:
etfs_2018_2024_ewmas = etfs_2018_2024_ewmas.drop(columns_to_drop,axis=1)

KeyError: "['MACD'] not found in axis"

In [639]:
etfs_2018_2024 = pd.concat([etfs_2018_2024_rsi,etfs_2018_2024_ewmas],axis=1)

In [640]:
etfs_2018_2024

,Ticker,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI_9,RSI_14,RSI_25,ewma_7,ewma_50,ewma_200
0,FGDL,2022-06-30 00:00:00-04:00,24.236000,24.236000,24.190001,24.190001,700.0,0.0,0.0,NaN,NaN,NaN,24.190001,24.190001,24.190001
1,FGDL,2022-07-01 00:00:00-04:00,24.030001,24.240000,24.020000,24.174999,1036900.0,0.0,0.0,NaN,NaN,NaN,24.186250,24.189412,24.189851
2,FGDL,2022-07-05 00:00:00-04:00,23.980000,23.980000,23.639999,23.648001,600.0,0.0,0.0,NaN,NaN,NaN,24.051688,24.168180,24.184460
3,FGDL,2022-07-06 00:00:00-04:00,23.459999,23.459999,23.229000,23.301001,4000.0,0.0,0.0,NaN,NaN,NaN,23.864016,24.134173,24.175669
4,FGDL,2022-07-07 00:00:00-04:00,23.420000,23.429001,23.299999,23.299999,91300.0,0.0,0.0,NaN,NaN,NaN,23.723012,24.101461,24.166956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3571481,AUGT,2024-07-03 00:00:00-04:00,29.221001,29.270000,29.180000,29.267000,2300.0,0.0,0.0,100.0,100.0,100.0,29.139780,28.487777,27.003004
3571482,AUGT,2024-07-05 00:00:00-04:00,29.240000,29.297001,29.240000,29.297001,500.0,0.0,0.0,100.0,100.0,100.0,29.179086,28.519512,27.025830
3571483,AUGT,2024-07-08 00:00:00-04:00,29.299999,29.340000,29.299999,29.332001,600.0,0.0,0.0,100.0,100.0,100.0,29.217314,28.551374,27.048777
3571484,AUGT,2024-07-09 00:00:00-04:00,29.368000,29.368000,29.299999,29.327000,4300.0,0.0,0.0,100.0,100.0,100.0,29.244736,28.581791,27.071446
3571485,AUGT,2024-07-10 00:00:00-04:00,29.350000,29.358999,29.350000,29.358999,200.0,0.0,0.0,100.0,100.0,100.0,29.273302,28.612269,27.094207

In [592]:
etfs_2018_2024.to_csv('etfs_2018_2024_indicators.csv', index=False)

In [79]:
df = pd.read_csv('etfs_2018_2024_indicators.csv')

In [80]:
df

,Ticker,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI_9,RSI_14,RSI_25,ewma_7,ewma_50,ewma_200
0,FGDL,2022-06-30 00:00:00-04:00,24.236000,24.236000,24.190001,24.190001,700.0,0.0,0.0,NaN,NaN,NaN,24.190001,24.190001,24.190001
1,FGDL,2022-07-01 00:00:00-04:00,24.030001,24.240000,24.020000,24.174999,1036900.0,0.0,0.0,NaN,NaN,NaN,24.186250,24.189412,24.189851
2,FGDL,2022-07-05 00:00:00-04:00,23.980000,23.980000,23.639999,23.648001,600.0,0.0,0.0,NaN,NaN,NaN,24.051688,24.168180,24.184460
3,FGDL,2022-07-06 00:00:00-04:00,23.459999,23.459999,23.229000,23.301001,4000.0,0.0,0.0,NaN,NaN,NaN,23.864016,24.134173,24.175669
4,FGDL,2022-07-07 00:00:00-04:00,23.420000,23.429001,23.299999,23.299999,91300.0,0.0,0.0,NaN,NaN,NaN,23.723012,24.101461,24.166956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3571481,AUGT,2024-07-03 00:00:00-04:00,29.221001,29.270000,29.180000,29.267000,2300.0,0.0,0.0,100.0,100.0,100.0,29.139780,28.487777,27.003004
3571482,AUGT,2024-07-05 00:00:00-04:00,29.240000,29.297001,29.240000,29.297001,500.0,0.0,0.0,100.0,100.0,100.0,29.179086,28.519512,27.025830
3571483,AUGT,2024-07-08 00:00:00-04:00,29.299999,29.340000,29.299999,29.332001,600.0,0.0,0.0,100.0,100.0,100.0,29.217314,28.551374,27.048777
3571484,AUGT,2024-07-09 00:00:00-04:00,29.368000,29.368000,29.299999,29.327000,4300.0,0.0,0.0,100.0,100.0,100.0,29.244736,28.581791,27.071446
3571485,AUGT,2024-07-10 00:00:00-04:00,29.350000,29.358999,29.350000,29.358999,200.0,0.0,0.0,100.0,100.0,100.0,29.273302,28.612269,27.094207